.complete  {
    font-size: 0.9rem;
    color: #0aaa32;
    margin-left: 10px;
}

.notComplete  {
    font-size: 0.9rem;
    margin-left: 10px;
}
.deleteButton {
    margin-right: 10px;
    background-color: #ff0000;
    color: white;
    border-radius: 0.5rem;
    border: 1.5px solid transparent;
    cursor: pointer;
}
.checkBox {
    cursor: pointer;
    margin-left: 10px;
}

.crudButtons {
    margin-left: 10px;
}